* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
    border-bottom: 1px solid black;
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: black;
}

input:hover::-webkit-input-placeholder {
    opacity: .6;
    cursor: text;
}

h1 h4 p li{
    color: white;
}

h4 {
    opacity: .8;
}

li {
    opacity: .6;
}

li:hover {
    opacity: 1;
    cursor: pointer;
}