* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
}

section#main{
    width: 350px;
    height: 450px;
    border-radius: 8px;
    background-color: white;
    border: 20px solid white;
    margin: auto;
}

section h5 {
    margin-bottom: 6%;
}

input {
    border: none;
    border-bottom: 1px solid black;
    padding: auto;
    margin: 5%;
}

div.interaction {
    display: flex;
    flex-direction: row;
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: black;
}

input:hover::-webkit-input-placeholder {
    opacity: .6;
    cursor: text;
}

h1, h4, p, li{
    color: white;
}

h5 {
    color: black;
}

h4 {
    opacity: .8;
}

li {
    opacity: .6;
}

li:hover {
    opacity: 1;
    cursor: pointer;
}